:root {
	--font: #305943;
	--highlight: #3e8d87;
	--button-color: #fbfffe;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	color: var(--font);
	cursor: default;
}
body {
	background-image: url(/assets/noise.svg);
	overflow-x: hidden;
}
#introduction-container {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	gap: 3rem;
}
h1 {
	font-weight: 900;
	font-size: 2rem;
}
span {
	font-weight: 900;
	color: var(--highlight);
}
.avatar-image{
    height: 18.75rem;
}
.text {
	display: flex;
	flex-direction: column;
	width: 50vw;
	gap: 2rem;
}
#introduction-button {
	width: 11.88rem;
	padding: 1rem;
	outline: none;
	border: none;
	color: var(--button-color);
	background-color: var(--highlight);
	border-radius: 8px;
	font-size: 0.94rem;
	letter-spacing: 2px;
	font-weight: 700;
	cursor: pointer;
	transition: all 1s;
}
#introduction-button:active {
	transform: scale(0.9);
}
#links {
	display: grid;
	width: 100vw;
	min-height: 100vh;
	align-items: center;
	grid-template-rows: min-content auto min-content;
}
#links h2 {
	font-weight: 900;
	font-size: 2rem;
	background-color: var(--highlight);
	color: var(--button-color);
	padding: 2rem 1.5rem;
	text-align: center;
	align-self: start;
}
#cards-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, auto);
	row-gap: 4.4rem;
	column-gap: 7.5rem;
	margin: 3.4rem 0;
	justify-self: center;
}
#cards-container div {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.6rem;
}
#cards-container div div {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 18.75rem;
}
#cards-container div img {
	width: 18.75rem;
	height: 12.5rem;
	border-radius: 12px;
}
#cards-container div h2 {
	font-size: 1.13rem;
	text-align: center;
	color: var(--button-color);
	background-color: var(--highlight);
	padding: 0.63rem 0.94rem;
	border-radius: 12px;
	width: 18.75rem;
	font-weight: 500;
}
#cards-container div div a {
	background-color: var(--highlight);
	padding: 0.63rem 0.94rem;
	color: var(--button-color);
	border-radius: 12px;
	letter-spacing: 1px;
	text-decoration: none;
}
#to-top-button {
	height: 58px;
	width: 58px;
	border-radius: 50%;
	border: 1px solid var(--highlight);
	background-color: var(--button-color);
	padding: 1rem;
	margin-bottom: 2rem;
	justify-self: center;
	cursor: pointer;
}
#to-top-button span {
	cursor: pointer;
}
@media only screen and (max-width: 1023px) {
	#introduction-container {
		flex-direction: column-reverse;
		text-align: center;
		padding: 1.25rem 0;
		gap: 1rem;
		justify-content: center;
	}
	.text {
		align-items: center;
		width: 80vw;
		gap: 1.2rem;
	}
	.text h1 {
		font-size: 1.5rem;
	}
	.text h2 {
		font-size: 1.3rem;
	}
	.avatar-image {
		height: 12.5rem;
	}
	#links h2 {
		font-size: 1.4rem;
		text-align: center;
		font-weight: 700;
	}
}
@media only screen and (max-width: 819px) {
	#cards-container {
		display: flex;
		flex-direction: column;
	}
}